units:
  u: U

points:
  zones:
    main:
      anchor:
        shift: [100, -100]
      key:
        padding: 1u
        spread: 1u
      rows:
        rowbottom:
          key:
            row_net: P21
        rowtop:
          key:
            row_net: P20
      columns:
        colleft:
          key:
            column_net: P18
        colright:
          key:
            column_net: P19

    thumb:
      anchor:
        ref: main_colright_rowbottom
        shift: [1u, -1u]
      key:
        padding: 1u
        spread: 1u
      rows:
        t0:
          key:
            row_net: P15
      columns:
        t0:
          key:
            column_net: P14

outlines:
  board:
    - what: polygon
      points:
        - ref: main_colleft_rowtop
          shift: [-0.6u, 0.6u]
        - ref: main_colright_rowtop
          shift: [2u, 0.6u]
        - ref: thumb_t0_t0
          shift: [1u, -0.6u]
        - ref: main_colleft_rowbottom
          shift: [-0.6u, -1.6u]
      fillet: 3

pcbs:
  test:
    outlines:
      main:
        outline: board
    footprints:
      nice_nano:
        what: mcu_nice_nano
        where:
          ref: main_colright_rowtop
          shift: [1.25u, -0.5u]
        params:
          reverse_mount: true
      key:
        what: switch_mx
        where: true
        params:
          hotswap: true
          from: "{{column_net}}"
          to: "{{row_net}}"
      diode:
        what: diode_tht_sod123
        where: true
        params:
          from: "{{row_net}}"
          to: "{{column_net}}"
        adjust:
          shift: [0, -5]