units:
  kx: U
  ky: U
  px: kx + 1.5
  py: ky + 1.5
points:
  zones:
    main:
      anchor:
        shift: [100, -100]
      key:
        padding: px
        spread: py
      rows:
        bottom:
          row_net: P19
        middle:
          row_net: P20
        top:
          row_net: P21
      columns:
        left:
          key:
            column_net: P7
        pinkie:   
          key:
            column_net: P6
            stagger: 0.25U
            splay: -5
        ring:
          key:
            column_net: P5
            stagger: 0.5U
            splay: -4
        middle:          
          key:
            column_net: P4
            stagger: 0.45U
            splay: -4
        index:
          key:
            column_net: P3
            splay: -4
        right:       
          key:
            column_net: P2
            splay: -2
    thumb:
      key:
        padding: px
        spread: py
      anchor:
        ref: main_right_bottom
        shift: [-0.15U,-2.2U]
        rotate: -5
      rows:
        top:
          column_net: P8
        bottom:
          column_net: P9
      columns:
        left:
          key:
            row_net: P19
        center:
          key:
            row_net: P20
            splay: -5
            stagger: -0.05U
        right:
          key:
            row_net: P21
            splay: -5
            stagger: -0.05U
outlines:
  board:
    - what: polygon
      operation: stack
      points:
        - ref: main_left_top
          shift: [-0.6px,0.55py]
        - ref: main_middle_top
          shift: [-0.5px,0.6py]
        - ref: main_index_top
          shift: [-0.6px,0.6py]
        - ref: main_right_top
          shift: [1.6px,0.6py]
        - ref: thumb_right_bottom 
          shift: [0.6px,0.5py]
        - ref: thumb_right_top
          shift: [0.6px,-0.6py]
        - ref: thumb_center_top
          shift: [0.5px,-0.6py]
        - ref: thumb_center_top
          shift: [-0.5px,-0.6py]
        - ref: thumb_left_top
          shift: [-0.6px,-0.6py]
        - ref: main_left_bottom
          shift: [-0.6px,-0.55py]
      fillet: 3
pcbs:
  keyboard:
    outlines:
      main:
        outline: board
    footprints:
      mx_hotswap:
        what: switch_mx
        where: true
        params:
          hotswap: true
          reversible: true
          from: "{{colrow}}"
          to: "{{column_net}}"
      diode:
        what: diode_tht_sod123
        where: true
        params:
          reversible: true
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]
      nice_nano:
        what: mcu_nice_nano
        where:
          ref: main_right_top
          shift: [1.05py,-6]
        params:
          reversible: true
          reverse_mount: false
      nice_view:
        what: display_nice_view
        params: 
          CS: P10
          SCK: P16
          MOSI: P14
          reversible: true
        where:
          ref: main_right_top
          shift: [1.05py,-9]
      rotary_encoder:
        what: rotary_encoder_ec11_ec12
        where: 
          ref: main_right_bottom
          shift: [1.05py,0]
        params:
          reversible: true
          S1: P21
          S2: P9
          A: P15
          C: P18
      power_switch:
        what: power_switch_smd_side
        where: 
          ref: main_right_top
          shift: [34.7,0]
          rotate: 18
        params:
          reversible: true
          side: B
      reset_switch:
        what: reset_switch_smd_side
        where: 
          ref: main_right_top
          shift: [38,-11]
          rotate: -72
        params:
          reversible: true
          side: B
      battery:
        what: battery_connector_jst_ph_2
        params:
          side: B
        where: 
          ref: main_right_bottom
          shift: [38,0]
          rotate: 180